POSTGRES_DSN="postgres://root:123@localhost:5432/base?sslmode=disable"
LOG_LEVEL="debug"
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://root:123@localhost:5432/base
GOOSE_MIGRATION_DIR=./storage/migrations